body {
    margin: var(--spacing);
    background: #fafafa;

    &:after {
        display: block;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: black;
        transition: opacity 200ms;
        opacity: 0;        
    }

    &.loading:after {
        opacity: 1;
    }
}