@import "base.pcss";
@import "common.pcss";
@import "widget-edit.pcss";
@import "widget-list.pcss";
@import "not-found.pcss";
@import "model-table.pcss";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900";

.application {
    font-family: var(--font);
    
    & header {
        @mixin grid;

        & h1 {
            @mixin cell 12;
        }
    }
}