
.widget-list

    .title
        h2 Widgets
        button.new New        
        
    .widget.header
        .id ID
        .name Name
    .widgets
        .widget
            .id
            .name
            button.edit Edit
            button.delete Delete