.widget-list

    h2 Widgets
    .buttons
        button.new New

    .widget.header
        .id ID
        .updated Updated 
        .name Name
        .buttons
    .widgets
        .widget
            .id ID
            .updated Updated 
            .name Name
            .buttons
                button.edit Edit
                button.delete Delete
                