
.widget-list

    .title
        h2 Widgets
        .buttons
            button.new New        
        
    .widget.header
        .id ID
        .updated Updated        
        .name Name
    .widgets
        .widget
            .id
            .updated
            .name
            .buttons
                button.edit Edit
                button.delete Delete