.widget-edit
    .title
    form
        .id
            label ID
            input(type="text", readonly)
        .name
            label Name
            input(type="text")
        .buttons
            button(type="submit") Save