.widget-list

    h2 Widgets
    .buttons
        button.new New

    .pagination
    .widget.header
        .id ID
        .updated Updated 
        .name Name
        .buttons
    .widgets
        .widget
            .id
            .updated 
            .name
            .buttons
                button.edit Edit
                button.delete Delete
    .pagination
                